.hover-blue:hover {
  color: #0092ca;
  cursor: pointer;
}

.custom-bg-dark {
  background-color: #222831 !important;
}

.custom-bg-grey {
  background-color: #393E46 !important;
}

.custom-bg-blue {
  background-color: #0092CA !important;
}

.custom-bg-white {
  background-color: #EEEEEE !important;
}

.custom-text-dark {
  color: #222831 !important;
}

.custom-text-grey {
  color: #393E46 !important;
}

.custom-text-blue {
  color: #0092CA !important;
}

.custom-text-white {
  color: #EEEEEE !important;
}

.card-header {
  background-color: #393E46 !important;
  color: #EEEEEE !important;
}

.card {
  margin-top: 10px !important;
}

a.nav-link {
  color: #0092CA !important;
}

.navbar {
  margin-bottom: 5px;
}

.btn-primary {
  background-color: #0092CA !important;
}

.btn-primary:hover {
  background-color: #006e99 !important;
}

.btn-primary-selected {
  background-color: #006e99 !important;
}

.btn-light {
  background-color: #EEEEEE !important;
}

.btn-light {
  background-color: #EEEEEE !important;
}

a {
  color: #0092CA;
}

.badge-primary {
  background-color: #0092CA;
}

.navlink:active {
  background-color: #393E46 !important;
}

.nav-link-hover:hover {
  background-color: #393E46;
}

#top-navbar {
  background-color: #222831 !important;
}

.class-info-table {
  background-color: #EEEEEE;
  margin-bottom: 0;
}

.class-info-table tr,
td,
th {
  border-color: black !important;
}

.class-info-card {
  padding: 0;
}

.text-line {
  text-decoration: line-through;
  color: #a6a6a6;
}

.todo-item-close {
  cursor: pointer;
}

.table-custom tr:nth-child(even) {
  /* background-color: #f0f2f5; */
}

#todo-list-card-body {
  margin: 0;
  padding: 0;
}

#todo-list {
  margin: 0;
}

.section-border-line {
  border-style: solid;
  border-bottom-width: 1px;
  border-color: #393e46;
  background-color: inherit;
}

#add-item {
  padding: 20px;
}

#list-calendar-table th {
  background-color: #393e46;
  color: #eeeeee;
}

.badge-assignment {
  background-color: blue;
  color: white;
}

.badge-exam {
  background-color: red;
  color: white;
}

.badge-project {
  background-color: lime;
}

.badge-quiz {
  background-color: yellow;
}

.badge-other {
  background-color: silver;
}

.pointer:hover {
  /* display: block; */
  cursor: pointer;
}

td.pointer:hover {
  cursor: pointer;
}

.modal-header {
  background-color: #393e46 !important;
}

.modal-body,
.modal-footer {
  background-color: #eeeeee !important;
}

.modal form {
  margin: 15px;
}

li.selected {
  background-color: #393E46 !important;
}

.bottom-page-space {
  margin-bottom: 60px;
}

.red {
  color: red;
}

.green {
  color: green;
}

#new-set ion-icon {
  background-color: #eeeeee;
  color: #0092ca;
  border-radius: 50%;
  font-size: 20px;
  padding: inherit;
  margin: inherit;
}

#set-table tr td {
  background-color: #EEEEEE !important;
}

.sets-th-1 {
  width: 20%;
}

.sets-th-3 {
  width: 10%;
}

.no-padding {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 64px;
  text-align: center;
  color: #393E46;
  margin: 30px;
}

body {
  margin-bottom: 20px;
}

.class-card-home:hover {
  cursor: pointer;
}

.class-info .header {
  font-weight: bold;
}

.class-info p {
  margin: 0;
}

.class-info {
  margin-bottom: 20px;
}

.class-info-main {
  margin-left: 100px;
  margin-top: 50px;
}

.class-info-section.left {
  /* margin-left: 200px; */
}

#pills-classItems a {
  color: #0092CA !important;
  font-weight: bold;
}

#pills-classItems .active {
  background-color: #0092CA;
  color: white !important;
}

#pills-classItems {
  padding: 5px;
}

.section-border {
  border-top: 1px solid #EEEEEE;
  margin: 5px;
}

#class-card-top .class-title {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  div.col-sm-12 {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  #class-card-top .class-info-section.left {
    margin-left: 0;
  }

  #class-card-top .class-title h2 {
    font-size: 18px;
  }
}
